:root {
    --pozadina-boja: #f2f0f0;
    --panel-boja: white;

body {
    background-color: var(--pozadina-boja);
    font-family: sans-serif;
    padding: 20px;
}

form {
    max-width: 500px;
  margin-right: auto;
}

fieldset {
background-color: white;
border-radius: 7px;
border: none;
border: 1px solid #ccc;
/* padding-block: var(--panel-boja); */

}

legend {
   font-weight: bold;
    padding: 0 10px;
    color: #333 
}
form-groupa {
   margin-bottom: 15px; 
}

.naslov-polja {
    display: block;
    font-weight: normal;
    margin-bottom: 25px;
    color: #444;

}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* ДЕЛАЕТ КУРСИВНЫМ ПОДСКАЗКИ В ПОЛЯХ ВВОДА (placeholder) */
input::placeholder {
    font-style: ;
    color: #999;
}
/* Стили для таблицы */
.tablica-conteiner

.caption{
   /* Переносит надпись НАД таблицей */ 
   caption-side: top;
padding-bottom: 0;
  font-family: sans-serif;
  font-weight: 10px;
}
th, td